<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" 
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--输出方式：输出到控制台--> 
	<appender name="console.CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>  
		<!--Threshold是个全局的过滤器，他将把低于所设置的level的信息过滤不显示出来--> 
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%l] :%m%n" />
		</layout>
	</appender>
	
	<!--根默认会自动构建一个 root,输出INFO级别的日志到控制台，供logger继承--> 
	<root>
		<priority value ="INFO"/> 
		<appender-ref ref="console.CONSOLE" />
	</root>
</log4j:configuration>